.icon-update-profile-image {
  position: absolute;
  bottom: 3%;
  right: 43%;
  margin-left: 1rem;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 100%;
  font-size: 0.7rem;
  width: 30px;
  height: 30px;
  background: white;
  cursor: pointer;
}

.custom-input-error {
  border : 1px solid red!important;
}

.custom-input-error:focus {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.disini {
  text-decoration: none;
  color: red;
}

.disini:hover {
  text-decoration: underline;
}

.saldo-header {
  position: relative;
}

.saldo-header input {
  border: none;
  outline: none;
  background-color: transparent;
  pointer-events: none;
  padding: 0;
  padding-left: 2.2rem;
  font-size: 2.5rem;
}

.saldo-header label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.button-toggle-eye {
  cursor: pointer;
}

/* Custom modal sweetalert */
.custom-modal-size {
  width: 500px!important;
  max-width: 90%!important; 
  padding: 20px!important;
  border-radius: 8px!important;
}

.swal2-title {
  font-size: 24px!important; 
  margin-bottom: 15px;
}

.custom-modal-actions {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  align-items: center;
}

.custom-confirm-button {
  background-color: white!important;
  color: red!important;
  border: none!important;
  box-shadow: none!important;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.custom-confirm-button:hover {
  background-color: red!important; 
  color: white!important;
}

.custom-cancel-button {
  background-color: white!important;
  color: gray!important;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .icon-update-profile-image {
    font-size: 0.4rem;
    width: 20px;
    height: 20px;
  }
}