.custom-input-error {
  border : 1px solid red!important;
}

.custom-input-error:focus {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.disini {
  text-decoration: none;
  color: red;
}

.disini:hover {
  text-decoration: underline;
}