.custom-input-error {
  border : 1px solid red!important;
}

.custom-input-error:focus {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.disini {
  text-decoration: none;
  color: red;
}

.disini:hover {
  text-decoration: underline;
}

.saldo-header {
  position: relative;
}

.saldo-header input {
  border: none;
  outline: none;
  background-color: transparent;
  pointer-events: none;
  padding: 0;
  padding-left: 2.2rem;
  font-size: 2.5rem;
}

.saldo-header label {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.button-toggle-eye {
  cursor: pointer;
}